.click-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  animation: ripple 0.4s linear;
  transform: scale(0);
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 0.7s ease-in-out infinite;
}

.spinning-circle {
  position: absolute;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #2563eb; /* primary-dark */
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}